.progress {
    animation: hide 0.5s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.progress-bar {
    width: 0%;
    animation: fill 5s;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

#gameframe {
    width: 1303px;
    height: 743px;
    border: solid black 2px;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 20px;
    opacity: 0;
    animation: show 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}