 #page-content {
            width: 100%;
            max-width: 100%;
        }
        #logo {
            left: 40%;
            margin-top: 85px;
            animation: glitch 5s infinite;
            max-width: 100%;
        }
        
        @keyframes glitch {
            0% {
                transform: none;
                opacity: 1;
            }
            7% {
                transform: skew(-4deg, -4deg);
                opacity: 0.4;
            }
            10% {
                transform: none;
                opacity: 1;
            }
            27% {
                transform: none;
                opacity: 1;
            }
            30% {
                transform: skew(3deg, -1.5deg);
                opacity: 0.5;
            }
            35% {
                transform: none;
                opacity: 1;
            }
            52% {
                transform: none;
                opacity: 1;
            }
            55% {
                transform: skew(-3deg, 0.8deg);
                opacity: 0.4;
            }
            50% {
                transform: none;
                opacity: 1;
            }
            72% {
                transform: none;
                opacity: 1;
            }
            75% {
                transform: skew(5deg, 4deg);
                opacity: 0.75;
            }
            80% {
                transform: none;
                opacity: 1;
            }
            100% {
                transform: none;
                opacity: 1;
            }
        }
        
        .modal-header,
        .modal-content {
            background-color: black;
            color: white;
            font-size: 15px;
            text-align: center;
        }
        
	.heading {	
		font-size: 40px;
		animation: glow 1s ease-in-out infinite alternate;
	}

	@keyframes glow {
  	from {
    		text-shadow: 0 0 10px #fff, 0 0 20px #8a1a1c, 0 0 30px #8a1a1c, 0 0 40px #8a1a1c, 0 0 50px #8a1a1c, 0 0 60px #8a1a1c, 0 0 70px #8a1a1c;
  		}
  
  	to {
    		text-shadow: 0 0 20px #8a1a1c, 0 0 30px #8a1a1c, 0 0 40px #8a1a1c, 0 0 50px #8a1a1c, 0 0 60px #8a1a1c, 0 0 70px #8a1a1c, 0 0 80px #8a1a1c;
  	}
	}

        .btn {
            background-color: black;
            color: white;
            border-color: white;
            border-width: 3px;
            padding: 10px;
            cursor: pointer;
            font-weight: bolder;
        }
        
        .btn:hover {
            background-color: #8a1a1c;
            border-color: black;
            color: black;
        }