  .container {
            width: 100%;
            font-size: 20px;
            padding: 20px 80px 0px 80px;
            background-image: url("https://i.dlpng.com/static/png/6794747_preview.png");
          
        }


    .articles {
	display: flex;
	flex-wrap: wrap;
	
	
}

   

.news {
	width: 350px;
  max-width: 100%;
	height: 500px;
	margin:auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid lightgrey;
}

   .news p{
   	text-align: justify;
   	 	font-size: 15px;
   	font-family: verdana;

   }

   .news h4{
   	text-align: center;
   }

   .news img{
   	padding-left: 22px;
   	padding-top: 10px;
   	padding-bottom: 10px;
   }

img {
	max-width: 100%;
	height: 170px;
  max-height: 100%;
}

@media screen and (max-width: 600px) {

  .news h4{
    font-size: 13px;
   }
    .news p {
      font-size: 9px;
    }

    .news img{
    padding-left: 0px;
   }
}