
#page-container {
    margin-top: 0px;
}

.popover {
            max-width: 100%;
        }
        
        #section1,
        #section2,
        #section3 {
            font-size: 25px;
            height: 1000px;
            text-align: center;
            padding: 250px 80px 0px 80px;
        }
        
        #section2 {
            color: black;
        }
        
        #section3 {
            color: black;
        }
        
        .popoverimage {
            width: 300px;
            height: 300px;
        }
        
        .popover {
            max-width: 100%;
            color: black;
            text-align: center;
            font-family: verdana;
        }
        
        .poptext {
            color: #590f0f;
            font-weight: bold;
        }
        
        .poptext:hover {
            color: #8a1a1c;
        }

        @media screen and (max-width: 600px) {
        #section1,
        #section2,
        #section3 {
        font-size: 15px;
    }
}